@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);

@import url(https://fonts.googleapis.com/css?family=Martel:400,200,300,600,700,800,900);

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    45% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    60% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    75% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    45% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    60% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    75% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@-webkit-keyframes slidedown {
    0% {
        height: 60px;
    }

    100% {
        height: 100%;
    }
}

@keyframes slidedown {
    0% {
        height: 60px;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes slideup {
    0% {
        height: 100%;
    }

    100% {
        height: 60px;
    }
}

@keyframes slideup {
    0% {
        height: 100%;
    }

    100% {
        height: 60px;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes bouncealot {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    50% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@keyframes bouncealot {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    50% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
/* required styles */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
    max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  -webkit-filter: inherit;
          filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e9e9e9; }

::-webkit-scrollbar {
  display: none; }

.wrapper {
  width: 100%;
  height: 100%; }

*,
body,
html {
  font-size: 1em; }

a {
  text-decoration: none;
  color: #000000; }
  a:visited {
    color: #000000; }

.nav-menu,
.social-media {
  line-height: 2em;
  font-size: 0.92em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif; }
  .nav-menu a,
  .social-media a {
    color: #696969; }
    .nav-menu a:hover,
    .social-media a:hover {
      color: #007aff; }

.article {
  line-height: 1.25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  .article h1 {
    font-size: 1em; }
  .article h6.subheading {
    font-size: 0.7em;
    color: #727272;
    font-weight: 400; }
  .article a:hover {
    color: #007aff; }

.form {
  font-family: 'Open Sans', sans-serif;
  color: #454545; }
  .form h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2em; }
  .form p {
    font-weight: 400;
    line-height: 1.5em; }
  .form .fa-times {
    font-size: 1.5em; }
  .form input {
    font-family: 'Open Sans', sans-serif;
    color: #454545; }
    .form input[type="submit"] {
      color: white;
      font-size: 1.25em; }

.nav-container {
  width: 160px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0; }

.article-container {
  width: calc(100% - 160px);
  position: absolute;
  top: 0;
  right: 0; }

.article-wrapper {
  width: calc(100% - 20px);
  left: 20px; }

@media screen and (min-width: 1281px) {
  div.article {
    width: 160px; } }
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  div.article {
    width: 160px; } }
@media screen and (min-width: 961px) and (max-width: 1024px) {
  div.article {
    width: 160px; } }
@media screen and (min-width: 769px) and (max-width: 960px) {
  div.article {
    width: 150px; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  div.article {
    width: 145px; } }
@media screen and (min-width: 376px) and (max-width: 480px) {
  div.article {
    width: 160px;
    margin: 15px; }

  div.article-wrapper {
    width: 400px;
    margin: auto; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  div.article {
    width: 155px;
    margin: 6px; }

  div.article-wrapper {
    width: 365px;
    margin: auto; } }
@media screen and (max-width: 320px) {
  div.article {
    display: block;
    margin: 20px auto;
    width: 240px; }

  div.article-image {
    height: 440px;
    width: 100%;
    display: block;
    position: static; }

  div.article-preview {
    position: static;
    display: block; } }
.article {
  width: 160px;
  margin: 8px;
  display: inline-block;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0 #929292;
  overflow: hidden; }

.article-preview {
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: white;
  display: none;
  padding: 8px 0; }

.article-image {
  position: absolute;
  box-shadow: 0 0 5px 0 #000000; }

.sizeone {
  min-height: 400px; }
  .sizeone .article-image {
    background-image: url("https://www.fillmurray.com/160/400");
    background-size: cover;
    width: 100%;
    height: 400px; }

.sizetwo {
  min-height: 300px; }
  .sizetwo .article-image {
    background-image: url("https://www.fillmurray.com/160/300");
    background-size: cover;
    width: 100%;
    height: 300px; }

.sizethree {
  min-height: 500px; }
  .sizethree .article-image {
    background-image: url("https://www.fillmurray.com/160/500");
    background-size: cover;
    width: 100%;
    height: 500px; }

.contact-container {
  width: calc(100% - 160px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0; }

#mapid {
  height: 100%; }

form {
  width: 100%; }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  z-index: 1;
  box-shadow: 1px 1px 5px 0 #828282; }
  .form input, .form textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    border: solid 1px #dcdcdc;
    padding: 5px; }
    .form input:focus, .form textarea:focus {
      border-color: rgba(0, 122, 255, 0.5);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 122, 255, 0.4);
      outline: 0 none; }
    .form input[type="submit"], .form textarea[type="submit"] {
      background-color: #e74c3c;
      padding: 10px;
      width: calc(90% + 10px); }
  .form textarea {
    height: 7em; }

.form-header {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 3px -3px #cccccc;
  position: relative;
  z-index: 2; }
  .form-header h1 {
    padding: 15px 25px 0 25px; }
  .form-header p {
    padding: 15px 25px 20px 25px; }
  .form-header .fa-times {
    position: absolute;
    top: 15px;
    right: 15px; }

.form-body {
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px 0 15px 0;
  position: relative;
  z-index: 1; }

.bounce {
  -webkit-animation: bounce 5s infinite;
          animation: bounce 5s infinite; }

.current-page:hover .bounce {
  -webkit-animation: bouncealot 500ms infinite;
          animation: bouncealot 500ms infinite; }

.nav-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.favicon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto; }

.nav-menu {
  text-align: right;
  margin: 0 15px 0 0; }

.social-media {
  margin: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none; }

.ion-close-round,
.ion-navicon-round {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8em; }

@media screen and (max-width: 600px) {
  .nav-container.clicked {
    -webkit-animation: slidedown 1s forwards;
            animation: slidedown 1s forwards; }
    .nav-container.clicked .nav-menu {
      display: block;
      -webkit-animation: appear 1s forwards;
              animation: appear 1s forwards; }
    .nav-container.clicked .social-media {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-animation: appear 1s forwards;
              animation: appear 1s forwards; }
    .nav-container.clicked .ion-close-round,
    .nav-container.clicked .ion-navicon-round {
      display: block; }
    .nav-container.clicked .bounce {
      display: none; }

  .nav-container.unclicked {
    -webkit-animation: slideup 1s forwards;
            animation: slideup 1s forwards; }
    .nav-container.unclicked .nav-menu {
      -webkit-animation: disappear 1s forwards;
              animation: disappear 1s forwards; }
    .nav-container.unclicked .social-media {
      -webkit-animation: disappear 1s forwards;
              animation: disappear 1s forwards; }

  .nav-container {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 2px solid #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .nav-menu {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    line-height: 2em; }

  .social-media {
    width: 200px;
    margin: 0 auto 40px;
    font-size: 1.5em; }

  .favicon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 20px; }

  .ion-close-round,
  .ion-navicon-round {
    display: block; }

  .article-container, .contact-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%; } }
